

*{
    box-sizing: border-box;
}
h2{
    color: royalblue;
}
body{
    background-color: #f6f7fb;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    text-align: center;

}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}
.progress-container::before{
        content: '';
        background-color: #e0e0e0;;
        position: absolute;
        top: 50%;
        left: 0;
        height: 4px;
        transform: translate(-50%);
        width: 0%;
        z-index: -1;
        transition: 0.4s ease;
    
}
.progress{
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    transform: translateY(-50%);
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}
.circle{
    background-color: #ffff;
    color:#999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
    transition: 0.4s ease;
}
.circle.active{
    border-color:aqua;
}
.btn{
    background-color: blue;
    color:white;
    border:0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin:5px;
    font-size: 14px;

}
.btn:active{
    transform:scale(0.98);

}
.btn:focus{
    outline: 0;
}
.btn:disabled{
    background-color: gray;
    cursor:not-allowed;
}
